mat-list-item {
    border-bottom: thin solid #555;
    width: 95%;
  }
  .comments-row {
    display: flex;
    border-top: thin solid #555;
    padding-top: 10px;
    justify-content: space-around;
    align-items: center;
    width: 80%;
  }
  
  mat-form-field {
    width: 400px;
    input{ width: 80%;}
  }
  .alert{
    color:red;
    font-size: 8px;
  }