<mat-card>
    <mat-card-header>
      <mat-card-title>
        <!--nous utilisons ici des directives qui permettrons de souligner 
        dans notre cas le titre en jaune et cette directive est defin dans
        le dossier direstives du module share et dans un fichier que nous avions
        appelé highligh.directive.ts et dont nous avons declaré et exporté 
        dans shared.module dans c'est une directive qui sera utilisée dans toute notre
        application-->
        <span highlight color="green" >{{ post.title | titlecase }}</span>
      </mat-card-title>
      <mat-card-subtitle>
       <!--<span>{{ post.createdDate | date }}</span>--> 
       <!--à la place de ce qui précède on affiche notre date avec un pipe personalisé
       timeAgo que nous avons défini dans shared et dans le dossier
       pipe-->
       <span>{{ post.createdDate | timeAgo }}</span>
      </mat-card-subtitle>
    </mat-card-header>
    <br>
    <!--nous utilisons un pipe personnalisé usernamepipe
    sur un objet tempuser que nius avons crée dans PostListItemComponent
    ceci de mettre évidence notre compétence sur les pipes personnisés
    -->
      <span>{{tempuser | usernamepipe: 'en'}}</span>
    <mat-card-content>
      <img mat-card-image *ngIf="post.imageUrl as imageUrl" [src]="imageUrl" [alt]="post.title">
      <br>
      <!-- nous allons utiliser notre pipe personnalisé dans le module shared
       pour tronquer toues les description qui on plus de 50 carectères-->
      <span class="post-content">{{ post.content | shorten:100}}</span>
    </mat-card-content>
    <mat-card-actions>
      <!--Le nom  newComment  vient du nom du  @Output  dans
       CommentsComponent, et la syntaxe  $event  permet de capter
       le contenu d'un événement. Dans ce cas, il s'agit 
       du commentaire de l'utilisateur.-->
      <app-comments [comments]="post.comments" (newComment)="onNewComment($event)"></app-comments>
    </mat-card-actions>
  </mat-card>