<br>
<br>
<mat-card [formGroup]="mainForm" class="main-form">
    <mat-card-title>Inscription</mat-card-title>
    <mat-card class="form-card" formGroupName="personalInfo">
        <mat-card-subtitle>Informationss personnelles</mat-card-subtitle>
        <!--La classe  .form-row  permet d'avoir deux  input  disposés correctement 
        sur une seule ligne.-->
        <div class="form-row">
            <mat-form-field appearance="fill">
                <mat-label>Prénom(s)</mat-label>
                <input type="text" matInput formControlName="firstName">
                <mat-error>ce champ est requis</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Nom(s)</mat-label>
                <input type="text" matInput formControlName="lastName">
                <mat-error>ce champ est requis</mat-error>
            </mat-form-field>
        </div>
    </mat-card>
    <mat-card class="form-card">
        <mat-card-subtitle>Comment préférez-vous que l'on vous contacte ?</mat-card-subtitle>
        <mat-radio-group [formControl]="contactPreferenceCtrl">
            <mat-radio-button value="email">Mail</mat-radio-button>
            <mat-radio-button value="phone">Téléphone</mat-radio-button>
        </mat-radio-group>
    </mat-card>

    <mat-card  class="form-card" [formGroup]="emailForm" *ngIf="showEmailCtrl$ | async" >   
        <mat-card-subtitle>Email</mat-card-subtitle>
        <div class="form-row">
            <mat-form-field appearance="fill">
                <mat-label>entrez votre adresse mail</mat-label>
                <input type="text" matInput formControlName="email">
                <!--il faut que l'utilisateur sache qu'il ya une erreur sur ce champ
                au cas où il saisi un email au mauvais format ou lorsqu'il ne renseigne
                pas ce champ  ainsi la mèthode getFormControlErrorText(emailCtrl) avec 
                son argument qui est la valeur de ce control-->
                <mat-error>{{ getFormControlErrorText(emailCtrl) }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>confirmez votre adresse mail</mat-label>
                <input type="text" matInput formControlName="confirm">
                <mat-error>{{ getFormControlErrorText(confirmEmailCtrl) }}</mat-error>
            </mat-form-field>
        </div>
        <small class="error-text" *ngIf="showEmailError$ | async">Les deux adresses ne correspondent pas</small>
    </mat-card>
    
    <mat-card class="form-card" *ngIf="showPhoneCtrl$ | async" >
        <mat-card-subtitle>Téléphone</mat-card-subtitle>
        <mat-form-field appearance="fill">
            <mat-label>téléphone</mat-label>
            <input type="text" matInput formControlName="phone">
            <mat-error>{{ getFormControlErrorText(phoneCtrl) }}</mat-error>
        </mat-form-field>
    </mat-card>
    

    <mat-card class="form-card" [formGroup]="loginInfoForm">
        <mat-card-subtitle>Informations de connexion</mat-card-subtitle>
        <mat-form-field appearance="fill">
            <mat-label>username</mat-label>
            <input type="text" matInput formControlName="username">
            <mat-error>ce champ est requis</mat-error>
        </mat-form-field>
        <div class="form-row">
            <mat-form-field>
                <mat-label>password</mat-label>
                <input type="password" matInput formControlName="password">
                <mat-error>ce champ est requis</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>corfirm passwrd</mat-label>
                <input type="password" matInput formControlName="confirmPassword">
                <mat-error>ce champ est requis</mat-error>
            </mat-form-field>
        </div>
        <small class="error-text" *ngIf="showPasswordError$ | async">Les deux mots de passe ne sont pas identiques</small>
    </mat-card>

    <mat-card-actions *ngIf="mainForm.valid">
        <!--Avec ceci, lorsque vos utilisateurs cliquent sur 
        ENREGISTRER, le bouton se désactive, et le spinner s'affiche 
        jusqu'à ce que le serveur réponde. Le formulaire est ensuite 
        réinitialisé.Si vous voulez tester le cas d'erreur, arrêtez le 
        serveur backend et réessayez !-->
        <button mat-flat-button color="primary" (click)="onSubmitForm()" [disabled]="loading">ENREGISTRER</button>
    </mat-card-actions>
    <!--nous créons une Progress-Bar qui permettra de faire attendre l'user 
    lors du chargement du formulaire dans le serveur-->
    <mat-spinner *ngIf="loading" color="primary" mode="indeterminate"></mat-spinner>
</mat-card>

<!--Parenthèse !
Dans quels cas choisir  [formGroup]  ,  formGroupName  ,  
[formControl]  ,  formControlName  ? Il n'y a pas de règle d'or ici. 
Si vous avez des FormGroups et FormControls nommés, vous pouvez toujours
 y lier les contrôles du template directement ; mais attention : 
 ça crée une liaison intime entre le TypeScript et le HTML. Si un jour 
 vous souhaitez changer l'implémentation du FormControl et le passer à 
FormBuilder.group , il vous faudra changer le template aussi.Il n'y a 
pas de bonne ou de mauvaise réponse : faites ce qui vous semble être le 
plus logique et le plus lisible dans chaque cas.-->